hr {
  color: black;
  margin-top: 25px;
  border: #0055ff solid 1px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 500px;
  margin-top: 50px;
  width: 500px;
  background-color: aliceblue;
  padding: 15px;
  margin-bottom: -45px;
}
.btn {
  margin-left: 550px;
  background-color: black;
  color: white;
}
.container {
  display: flex;
}
