.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 500px;
  margin-top: 50px;
  width: 500px;
  background-color: aliceblue;
  padding: 15px;
  margin-bottom: -45px;
}
